/* about component */
.ourStory-container {
    width: 100%;
    max-width: 1500px;
    background-color: #FFF5EE;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

h6 {
    font-size: 2.5em;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.about {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    white-space: normal;
    font-size: 16pt;
}

/*images*/
.shoppingImg, .macBook {
    width: 100%;
    max-width: 700px;
    margin-top: 80px;
    margin-bottom: 20px;
}

@media (350px <= width <= 450px) {
    .shoppingImg,
    .macBook {
        width: 100%;
        max-width: 300px;
    }
}


