/* about component */
.ourStory-container {
    width: 100%;
    max-width: 1500px;
    background-color: #FFF5EE;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

h6 {
    font-size: 2.5em;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.about {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about {
    color: white;
    font-size: 16pt;
}

/*images*/
.shoppingImg {
    width: 100%;
    max-width: 700px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.televisionImg {
    width: 100%;
    max-width: 700px;
    margin-top: 40px;
    margin-bottom: 20px;
}


