/* add to cart component*/
.second-cart-container {
    width: 100%;
    max-width: 950px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#FFF5EE;
    padding: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

@media screen and (max-width: 600px) {
    .second-cart-container {
        width: 100%;
        display: block;
        max-width: 600px;
        margin: 5px;
    }
}

.usersProducts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
}

.userProductImage {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}