/*cart component and checkout component*/
h2 {
   font-size: 3em;
   margin-bottom: 40px;
}

.contact {
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
    border-radius: 12px;
}

@media (350px <= width <= 450px) {
    .contact {
        width: 100%;
        max-width: 250px;
    }
}

.cart-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color:#FFF5EE;
    padding: 20px;
    border-radius: 12px;
 }

.cartImg {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.more-styles {
    font-size: 14pt;
}

.total-checkout-keepShopping {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.myItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 375px) {
    .myItems {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .myItems {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        margin: 0px auto;
    }
}

@media screen and (max-width: 800px) {
    .myItems {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        margin: 0px auto;
    }
}

/*buttons*/
.cartBackToProducts:hover {
    color: #9b111e;
    margin-top: 15px;
}

/*checkout component*/
.checkout-container {
    border: 1px solid black;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.black-background {
    background-color: black;
    color: white;
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    margin-top: 40px;
}

@media (350px <= width <= 450px) {
    .checkout-container {
        width: 310px;
    }
    .black-background {
       width: 100%;
       max-width: 310px;
    }
}

.step-one {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    padding: 5px;
    word-spacing: 2px;
}

.checkout-input {
    width: 380px;
    border: 1px solid black;
    border-radius: 0px;
    margin-top: 45px;
}

@media (350px <= width <= 450px) {
    .checkout-input {
        width: 220px;
    }
}

/*form*/
.form-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 16pt;
    margin-bottom: 10px;
}

.form-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfo {
    margin-top: 10px;   
    margin-bottom: 0px;
    text-decoration: none;
}

label {
    font-family:'Times New Roman', Times, serif;
    font-size: 12pt;
    margin: 0;
}

.checkout-input {
    margin: 10px;
}

.opt-in-text {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
}

@media (350px <= width <= 450px) {
   .opt-in-text {
        font-size: 11pt;
    }
}

.my-checkboxes {
    margin-top: 20px;
    margin: 20px;
    margin-bottom: 10px;
}

/*delivery*/
.delivery {
    font-size: 20pt;
    margin-top: 40px;
}

.deliveryMethod {
    text-align: left;
    padding: 5px;
    color: black
}   

@media screen and (max-width: 600px) {
    .cart-buttons {
      display: flex;
      flex-direction: row;
      
   }  
  }
