/*shipping component and payment component*/
.shipping-black-background,
.payment-black-background {
  background-color: black;
  color: white;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: left;
  margin: 0 auto;
  margin-top: 40px;
}

@media (350px <= width <= 450px) {
  .shipping-black-background {
    width:100%;
    max-width: 310px;
  }
}

.shipping-container,
.payment-container {
  border: 1px solid black;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (350px <= width <= 450px) {
  .shipping-container {
    width: 100%;
    max-width: 310px;
  }
}

.step-two,
.step-three {
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
  padding: 5px;
  word-spacing: 2px;
}

.shipping-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 16pt;
  margin-bottom: 10px;
}

.payment-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.shipping-form-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.state {
  width: 110px;
}

.available-countries {
  margin-top: 10px;
}

.selectCounty {
  margin-bottom: 20px;
}

@media (350px <= width <= 450px) {
  .shipping-input {
    width: 200px;
  }
}

.payment-labels-input {
  margin-bottom: 20px;
}

.payment-buttons,
.shipping-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 14pt;
  border-radius: 10px;
  font-family: "Lobster", cursive;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media (350px <= width <= 450px) {
  .test {
    font-size: 12pt;
    padding: 0;
  }
}


/*images*/
.packages,
.creditCards {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
  border-radius: 12px;
}

@media (350px <= width <= 450px) {
  .packages {
    width: 100%;
    max-width: 250px;
  }
} 
