/*top header component*/
.top-header {
  background-color: black;
  width: 100%;
  padding: 2px;
  color: white;
  font-size: 13pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: pink;
  color: white;
  font-size: 16px;
  padding: 2px 6px;
  border-radius: 50%;
}

.cart-icon {
  margin-left: auto;
  position: relative;
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}

.login {
  color: white;
  float: right;
  padding: 8px;
  font-size: 16pt;
}

/*second header*/

.link-to-register {
  color: palevioletred;
  font-size: 16pt;
}

.link-to-register:hover {
  text-decoration: underline;
}

.summer-sale {
  font-size: 14pt;
}
@media (350px <= width <= 450px) {
  .summer-sale,
  .link-to-register,
  .login {
    font-size: 16pt;
  }
  .cart-icon {
    font-size: 38px;
  }
}
