/*top header component*/
.top-header {
    background-color: black;
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 13pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-to-register {
    color: white;
    padding: 10px;
  }

  .link-to-register:hover {
    text-decoration: underline;
  }

  .cart-item-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: maroon;
    color: white; 
    font-size: 18px; 
    padding: 3px 6px; 
    border-radius: 50%; 
  }

  .cart-icon {
    margin-left: auto;
    position: relative;
 }
    

  .login {
    color: white;
    float: right;
    padding: 12px;
    font-size: 16pt;
  }