/*cart component*/
.cart-container {
    width: 100%;
    border: 1px solid black;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cartImg {
    width: 100%;
    max-width: 150px;
    padding: 10px;
}

span {
    padding: 5px;
}

.cartBackToProducts:hover {
    color: #9b111e;
}