/*Home Page Component CSS */
.homePic {
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 8px
}

.image-container {
    position: relative;
    text-align: center;
}

.shopAll {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
    background-color: transparent;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 10px;
}
