/*login component*/
h2 {
    color: black;
    float: left;
    font-size: 22pt;
    padding: 10px;
}

.login-container {
    width: 100%;
    max-width: 550px;
    float: left;
    margin-top: 150px;
    margin-left: 150px;
    background-color: lightgrey;
    padding: 50px;
    border-radius: 8px;
    font-size: 18pt;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 10px;
}

.input-login {
    margin: 10px;
    width: 300px;
    font-size: 14pt;
}