/*login component and register*/
h2 {
    color: black;
    float: left;
    font-size: 22pt;
    padding: 10px;
    font-family: 'Cormorant Garamond', serif;
}

.login-container {
    width: 100%;
    max-width: 550px;
    margin-top: 140px; 
    margin: 180px auto;
    margin-left: 240px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    padding: 40px;
    border-radius: 8px;
    font-size: 18pt;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-login, .register {
    margin: 10px;
    width: 400px;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    caret-color: lightslategray;
    padding: 5px;
}

.login-button, .register-button {
    background-color: black;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16pt;
    margin-top: 10px;
    border-radius: 12px;
    width: 300px;
}

.login-button:hover {
    color: lightgreen;
    cursor: pointer;
}

.main-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*image*/
.loginImg-videoGame {
    width: 100%;
    max-width: 500px;
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 3px solid black;
}

/* more of register component*/
.register-button:hover {
    color: lightgreen;
    cursor: pointer;
}

.register-container {
    width: 100%;
    max-width: 650px;
    margin-top: 140px; 
    margin: 180px auto;
    margin-left: 240px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    padding: 40px;
    border-radius: 8px;
    font-size: 18pt;
}


