/* main all-products component*/
h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

/*search bar component*/
.searchBar {
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

input {
    width: 440px;
    font-size: 14pt;
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 5px;
}

.products-container {
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.my-box {
  background-color: lightblue;
  width: 21%;
  margin: 20px;
  border-radius: 28px;
}

@media screen and (max-width: 950px) {
  .my-box{    
    width: 35%;
    margin: 10px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h4 {
  font-family: 'Lobster', cursive;
}

span {
  font-family: 'Cormorant Garamond', serif;
  color: black;
}

.productImages {
  width: 100%;
  max-width: 250px;
  margin-top: 10px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

/*buttons*/
.my-buttons {
  margin-top: 20px;
}

button, .see-details-link {
  margin: 10px;
  font-size: 14pt;
  padding: 5px;
  border-radius: 10px;
  font-family: 'Lobster', cursive;
}

.see-details-link:hover {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  color: darkgray;
}


