:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*top header component*/
.top-header {
  background-color: black;
  width: 100%;
  padding: 15px;
  color: white;
}

@media  screen and (max-width: 414px) {
  .top-header {
    width: 100%;
    text-align: left;
  }
}

.shopNow {
  color: white;
}

.login {
  color: white;
  float: right;
  padding: 10px;
  font-size: 16pt;
}

/*filter component*/
@media screen and (max-width: 950px) {
  .priceFilter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 667px) {
  .priceFilter-container {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.filtered-image {
  width: 100%;
  max-width: 300px;
}

.filtered-name {
  color: black;
}

/*single product component*/
.info-singleProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff5ee;
  margin-top: 40px;
  margin-bottom: 20px;
}

h5 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2em;
  margin-bottom: 30px;
}

.selected-item-image {
  width: 100%;
  max-width: 250px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.selected-item {
  font-size: 16pt;
  font-family: "Times New Roman", Times, serif;
}

.backTo-products,
.link-to-go-back,
.addToCart {
  margin-bottom: 20px;
  font-family: "Lobster", cursive;
}

.backTo-products,
a:hover {
  text-decoration: none;
}

/*drop down component*/
select {
  background-color: #9b111e;
  border: 2px solid black;
  color: burlywood;
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Lobster", cursive;
  outline: none;
}
