:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*filter component*/
.filtered-image {
  width: 100%;
  max-width: 300px;
}

.filtered-name {
  color: black;
}


/*single component*/
.selected-item-image {
  width: 100%;
  max-width: 300px;
  margin-top: 100px;
}


